@model IEnumerable<ExcellentTaste.Models.OrderItem>

<table class="table" id="itemcontainer">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReady)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.Hidden("orderItemId", item.Id, new { name = "orderItemId" })
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                    @Html.Hidden("productId", item.ProductId, new { name = "productId" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Quantity, null, "quantity")
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IsReady, null, "status")
                </td>
            </tr>
        }
    </tbody>
</table>
