@model IEnumerable<ExcellentTaste.Models.OrderItem>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReady)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.Id)
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                    @Html.HiddenFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IsReady)
                </td>
            </tr>
        }
    </tbody>
</table>
